:root {
    --primary-red    : #B61500;
    --primary-yellow : #ffac0e;
    --primary-orange : #dc6b29;
    --seconday       : #f3c681;
    --white          : #fff;
}

html {
    font-family : Poppins, serif;
    width       : 100%;
    height      : 100%;
}

html::after {
    content   : "Appli Pizza";
    font-size : 1.5rem;
    display   : block;
    position  : absolute;
    bottom    : 1em;
    right     : 1em;
}

body {
    margin                : 0;
    padding               : 0;
    display               : grid;
    grid-template-columns : 20em 1fr;
    grid-template-rows    : 5em 1fr;
    grid-template-areas   :
        "header header"
        "content content";
}

header {
    width            : 20em;
    height           : 100vh;
    background-color : var(--primary-red);
    padding          : 2rem 0;
    box-sizing       : border-box;
}

header #logo {
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

header #logo img {
    width     : 10em;
    height    : 10em;
    animation : bound 1s ease-in-out infinite;
}

@keyframes bound {
    0% {
        transform : scale(1);
    }

    50% {
        transform : scale(1.1);
    }

    100% {
        transform : scale(1);
    }
}

header nav {
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    align-items     : center;
    margin-top      : 2rem;
    font-size       : 2rem;
}

header nav a {
    color           : var(--white);
    text-decoration : none;
    font-size       : 18px;
    font-weight     : bold;
    text-transform  : uppercase;
    transition      : color 0.3s;
    font-size       : 1.5rem;
}

header nav a:hover {
    color : var(--primary-yellow);
}

main {
    height           : 100vh;
    width            : 100%;
    background-color : var(--seconday);
    padding          : 2rem;
    box-sizing       : border-box;
}

.title {
    font-size     : 2rem;
    font-weight   : 700;
    color         : var(--primary-red);
    margin-bottom : 1rem;
}


#ingredient_pizza {
    border-collapse : collapse;
    min-width       : 20em;
}

#ingredient_pizza thead {
    background-color : var(--primary-red);
    color            : var(--white);
    font-weight      : 500;
    font-size        : 1.2rem;
}

#ingredient_pizza thead td {
    padding    : 1rem;
    text-align : center;
    border     : 2px solid var(--primary-red);
}

#ingredient_pizza tbody td {
    padding : 1rem;
    border  : 1px solid var(--primary-red);
}

#ingredient_pizza {
    border : 1px solid var(--primary-red);
}

#ingredient_pizza tbody td:nth-child(2) {
    text-align : center;
}

a.link-details {
    color           : var(--primary-red);
    text-decoration : none;
    font-weight     : 600;
    transition      : color 0.3s;
}

a.link-details:hover::after {
    content : "  <";
    color   : var(--primary-red);
}

main ul {
    font-size: 1.2em;
}