<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <div><a href="/pizzas/">Les Pizzas</a></div>
        <div><a href="/ingredients/">Les Ingredients</a></div>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    Appli Pizza 2023
</footer>
</body>
</html>