{% extends 'applipizza/base.html' %}

{% block title %}
    détails d'une pizza
{% endblock %}


{% block content %}
    <h2 class="title">Voici notre pizza</h2>
    <ul>
        <li>{{ pizza.nomPizza|upper }} (Prix: {{ pizza.prixPizza }}€)</li>
    </ul>

    <h2 class="title">Les {{ ingredients|length }} Ingrédients de la Pizzas</h2>
    <table id="ingredient_pizza">
        <thead>
        <tr>
            <td>Ingrédient</td>
            <td>Quantité</td>
        </tr>
        </thead>
        <tbody>
        {% for i in ingredients %}
            <tr>
                <td>{{ i.0.nomIngredient|capfirst }}</td>
                <td>{{ i.1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}