{% extends 'applipizza/base.html' %}

{% block title %}
    les pizzas
{% endblock %}


{% block content %}
    {% load static %}
    {% if pizzas|length > 0 %}
        <h2 class="title">Voici nos {{ pizzas|length }} Pizzas </h2>
        <ul>
            {% for p in pizzas %}
                <li class="li-pizzas">{{ p.nomPizza|capfirst }}
                    <a class="link-details" href="/pizzas/{{ p.idPizza }}/">
                        <img src="{% static 'applipizza/img/magnifying-glass-solid.svg' %}" alt="logo_magnifying-glass">
                    </a>
                    <a class="link-details" href="/pizzas/{{ p.idPizza }}/update/">
                        <img src="{% static 'applipizza/img/pen-solid.svg' %}" alt="logo_pen">
                    </a>
                    <a class="link-details" href="/pizzas/{{ p.idPizza }}/delete/">
                        <img src="{% static 'applipizza/img/trash-solid.svg' %}" alt="logo_pen">
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2 class="title">Aucune pizza n'est disponible</h2>
    {% endif %}

{% endblock %}