{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'appliArtSpectra/css/styles.css' %}">
{#    <link rel="icon" href="{% static 'applipizza/img/pizza.png' %}">#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Slackside+One&display=swap" />

</head>

<body>
<header>
    <nav>
        <h1>ArtSpectra</h1>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Artistes</a></li>
            <li><a href="{% url 'oeuvres' %}">Oeuvres</a></li>
            <li><a href="#">Expositions</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>

{#<script src="{% static 'applipizza/js/script.js' %}"></script>#}

</html>