{% extends 'appliArtSpectra/base.html' %}

{% block title %}
    Les Oeuvres
{% endblock %}

{% block content %}
    {% load static %}

    <div id="container-oeuvre">
        {% for oeuvre in oeuvres %}
            <a href="/oeuvres/{{ oeuvre.slug }}/{{ oeuvre.idOeuvre }}/">
                <div class="card-oeuvre">
                    <img class="card-img" src="/media/{{ oeuvre.imageOeuvre }}" alt="{{ oeuvre.nomOeuvre }}"/>
                    <p class="card-name">{{ oeuvre.nomOeuvre }}
                        <span class="--artiste">par {{ oeuvre.auteurOeuvre|capfirst }}</span>
                        <span class="--type">{{ oeuvre.slug|capfirst }} | {{ oeuvre.dimensionOeuvre }}</span>
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}