{% extends 'appliArtSpectra/base.html' %}

{% block title %}
    Profils - ArtSpectra
{% endblock %}

{% block content %}
    {% load static %}
    <div id="container-artiste">
        <div id="profil-artiste">
            <div id="container-profil">
                <div id="profil-artiste-img">
                    <img src="
                            {% if artiste.avatar != '' %}{{ artiste.avatar.url }}{% else %}{% static 'appliArtSpectra/img/avatar.png' %}{% endif %}"
                         alt="avatar">
                </div>
                <div id="profil-artiste-info">
                    <h2>{{ artiste.username|capfirst }}</h2>
                    <p>{{ artiste.first_name }} {{ user.last_name }}</p>
                    <p>{{ artiste.email }}</p>
                    {% if artiste.presentation != '' %}
                        <h3>Présentation :</h3>
                        <p>{{ artiste.presentation }}</p>
                    {% endif %}
                </div>
            </div>
            <div id="profil-artiste-oeuvres">
                <h1>Les oeuvres de {{ artiste.username|capfirst }}</h1>
                <div class="container-oeuvres-artiste">
                    {% for oeuvre in oeuvreDeArtiste %}
                        <a href="/oeuvres/{{ oeuvre.slug }}/{{ oeuvre.idOeuvre }}/">
                            <div class="oeuvre-artiste">
                                <img class="imgOeuvreArtiste" src="{{ oeuvre.imageOeuvre.url }}"
                                     alt="{{ oeuvre.nomOeuvre }}">
                                <p class="oeuvre-content">
                                    <span>{{ oeuvre.nomOeuvre|capfirst }}</span>
                                    <span>{{ oeuvre.prixOeuvre }}€</span>
                                </p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}