{% extends 'appliArtSpectra/base.html' %}

{% block title %}
    Inscrivez-vous
{% endblock %}

{% block content %}

    {% if request.get_full_path == '/signup/' %}
        <div id="form_signup" class="formSL">
            <h1>Inscrivez-vous</h1>

            <form method="post">
                {% csrf_token %}
                <table>
                    {% for field in form_signup %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                        {% for error in field.errors %}
                            <tr>
                                <td></td>
                                <td class="alert alert-danger">{{ error }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
                <input type="submit" value="S'inscrire">
            </form>
        </div>
    {% else %}
        <div id="form_login" class="formSL">
            <h1>Connectez-vous</h1>
            <form id="form_login" class="formSL" method="post">
                {% csrf_token %}
                <table>
                    {% for field in form_login %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                        {% for error in field.errors %}
                            <tr>
                                <td></td>
                                <td class="alert alert-danger">{{ error }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr></tr>
                    <tr class="forgot">
                        <td>Pas encore Inscrit ?</td>
                        <td><a href="{% url 'signup' %}"> S'inscrire </a></td>
                    </tr>
                    <tr class="forgot">
                        <td>Mot de passe oublié ?</td>
                        <td><a href="{% url 'password_reset' %}"> Renouveler mon mot de passe </a></td>
                    </tr>

                </table>
                <input type="submit" value="Se connecter">
            </form>
        </div>

    {% endif %}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
{% endblock %}